/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: since 1990,dead
*/


body {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI Variable', 'Segoe UI', 'Roboto Flex', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', Helvetica, Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    color: #000;
    background-color: #fff;
    margin: 2%;
}

a, a:visited {
    color: #663399; /* for older browsers */
    color: rebeccapurple;
}

a:hover {
    color: #8844ee;
}

ul > li {
    margin-block: 4px;
}

footer {
    border-top: 1px solid #ccc;
}

img.circle {
    -webkit-border-radius: 100%;
       -moz-border-radius: 100%;
            border-radius: 100%;
    display: inline;
    float: left;
}

h1.inline {
    margin-left: 0.625em;
    margin-top: 20px;
    font-size: 50px;
}

.inline {
    display: inline;
}

.block {
    display: block;
}

@media (prefers-color-scheme: dark) {
    body {
        color: #fff;
        background-color: #000;
    }

    a, a:visited {
        color: #8844ee;
    }

    a:hover {
        color: #954cde;
    }

    nav > a > img {
        -webkit-filter: invert(100%);
                filter: invert(100%);
    }
}