body {
    background: #1e1e2e;
    color: #cdd6f4;
    font-family: system-ui, sans-serif;
}

nav {
    background: #181825;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    padding: 1em 0;
    width: 100vw;
    height: 2.5rem;
    margin: 0;
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav h2 {
    justify-self: flex-start;
}

nav span {
    justify-self: flex-end;
    margin-left: auto;
    padding-right: 1em;
}

main {
    margin-top: 2rem;
    padding: 1em;
}

img.circle {
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    display: inline;
    margin-left: 1em;
    margin-right: 0.5em;
    transition: transform 1.25s cubic-bezier(0.3, 0, 0, 1);
    transform: rotate(0deg);
    background: black;
    padding: 3px;
}

a,
a:visited:hover {
    color: #cba6f7;
}

a:visited {
    color: rgb(163, 132, 199);
}

@media (prefers-color-scheme: light) {
    body {
        background: #eff1f5;
        color: #4c4f69;
    }

    a,
    a:visited:hover {
        color: #8839ef;
    }

    a:visited {
        color: #a16be6;
    }

    nav {
        background: #e6e9ef;
    }
}

h0 {
    font-size: 3em;
    font-weight: 700;
    margin: 0.67em 0;
    display: block;
}
