:root {
  --font-display: "Inter Tight", "Inter", "SF Pro Display", "SF Pro", "SF Pro Text", -apple-system, BlinkMacSystemFont,
    system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Noto Color Emoji", "Segoe UI Emoji";
  --font-body: "Inter", "SF Pro Text", "SF Pro", -apple-system, BlinkMacSystemFont, system-ui,
    "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Noto Color Emoji", "Segoe UI Emoji";
  --font-mono: "IBM Plex Mono", ui-monospace, monospace;
}

:root:has(.no-js) {
  --base: #1e1e2e;
  --text: #cdd6f4;
  --accent: #cba6f7;
}

li::marker {
  color: var(--accent);
}

.no-js t {
  font-weight: 500;
  font-size: 1.2rem;
}

html,
body {
  background: #1e1e2e;
  color: #cdd6f4;
  background: var(--base);
  color: var(--text);
  font-family: var(--font-body);
}

a,
a:visited:hover {
  color: #cba6f7;
}

a:visited {
  color: rgb(163, 132, 199);
}

/* @media (prefers-color-scheme: light) {
  body {
    background: #eff1f5;
    color: #4c4f69;
  }

  a,
  a:visited:hover {
    color: #8839ef;
  }

  a:visited {
    color: #a16be6;
  }
} */

.popup.transparent .inner {
  top: 100vw;
  transition: 0.2s ease-in-out;
}

.popup.transparent,
.popup {
  transition: 0.2s cubic-bezier(0.3, 0, 0.6, 1);
}

.popup .inner {
  transition: 0.4s cubic-bezier(0.3, 1.2, 0.4, 1)
}

.popup.transparent {
  opacity: 0;
}

.popup.transparent .popup-bg {
  transition: 0.2s cubic-bezier(0.3, 0, 0.6, 1);
  backdrop-filter: blur(0px);
  background: rgba(0, 0, 0, 0);
}

@media (orientation: portrait) {
  .popup .inner {
    width: 100% !important;
    height: 100% !important;
    transition: 0.4s cubic-bezier(0.3, 1.2, 0.4, 1);
  }

  .popup .inner article {
    height: 100%;
  }

  .popup .inner .article-inner {
    flex-direction: column;
    align-items: center;
  }

  .popup .inner article img {
    width: 90vw;
    max-width: initial;
    height: auto;
    justify-self: center;
  }
}

kbd {
  font-size: 0.85rem;
  /* margin: 0.5rem; */
  font-family: var(--font-mono);
  color: var(--subtext0);
  border: 1px solid var(--subtext0);
  padding: 0.15rem 0.6rem;
  border-radius: 0.3rem;
}

.card:focus kbd,
.card:focus-visible kbd {
  opacity: 1;
  transition: opacity 0.2s;
}

:focus,
:focus-visible {
  outline: 2px solid #cba6f7;
  outline-offset: 2px;
  border-radius: 0.1rem;
}

*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: var(--surface0);
  border-radius: 9999px;
  margin: 0 2px;
  transition: background 0.2s;
}

*::-webkit-scrollbar-thumb:hover {
  background: var(--overlay1);
  transition: background 0.2s;
}

*::-webkit-scrollbar-button,
*::-webkit-scrollbar-corner {
  display: none;
  background: transparent;
}

body.Latte .card:hover,
body.Latte, .card:focus,
body.Latte .card:focus-visible {
  box-shadow: 0 0 20px rgba(24, 24, 37, 0.3);
}