@import url("../common.css");
@import url("./win7/scrollbars.css");

body {
    margin: 3%!important;
    height: max-content!important;
}

h1 {
    font-size: 2rem!important;
}

h2 {
    font-size: 1.5rem!important;
}